################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Student Management System/.vs/Student Management System/v17/DocumentLayout.json
/Student Management System/.vs/Student Management System/v17/.suo
/Student Management System/.vs/Student Management System/FileContentIndex/4fd1f9e8-0084-4d77-a10b-bc64bafeee8a.vsidx
